

  
  .camGirlReporter {
    /* background-image: url('/images/camRepStreetBkgd.png'); */
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    z-index: -20;
  }
  .fire{
   background-size: 50%;

  }
  
  .camGirlShip {
    background-image: url('/images/waterMoving.gif');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 90%;
    position: relative;
    z-index: 1;
  }

  /* @keyframes freak-out {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 200%;
    }
  }
  
  .frightened .alice-falling {
    animation: freak-out 1.5s steps(2) infinite;
    background: url('http://stash.rachelnabors.com/codepen/alice/alice-frightened-s41f9b8ddd1.png') 0 0 no-repeat;
    background-size: 100% auto;
  } */
